@font-face{
    font-family: SFPRODISPLAY;
    src: url(./assets/fonts/SFPRODISPLAYREGULAR.OTF.ttf);
}
:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --gray-color: #B3B3B3;
    --opacity-color: #ffffffcc;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: SFPRODISPLAY, sans-serif;
    background-color: var(--white-color);
}
li{
    list-style: none;
}
p{
    font-size: 13px;
}
header{
    height: 100vh;
    width: auto;
}
.live-bg{
    background-size: cover;
}
.nav{
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    margin: 20px auto;
    background-color: var(--opacity-color);
    border: 1px solid var(--white-color);;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width:90vw;
    padding: 0px 20px;
}
nav:hover{
    background-color: var(--white-color);;
}
.logo{
    padding-top: 10px;
}
.navLinks{
    display: flex;
}
.navLinks ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navLinks ul li{
    margin-right: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}
.navLinks ul li a {
    text-decoration: none;
    color: var(--black-color);
}
.navLinks ul li a img{
    margin: 0px 0px 2px 5px;
}
.empty{
    background-color: transparent;
    width: 120px;
    height: 100px;
    position: absolute;
    top: -80px;
    left: 0px;
}
.shop .listShop{
    background-color: var(--white-color);
    position: absolute;
    top: 90px;
    right: 500px;
    z-index: 200;
    width: 198px;
    height: 264px;
    display: none;
    flex-direction: column;
    align-items: start;
    padding-left: 30px;
}
.coleccion .listColeccion{
    background-color: var(--white-color);
    position: absolute;
    top: 90px;
    right: 380px;
    z-index: 200;
    width: 198px;
    height: 184px;
    display: none;
    flex-direction: column;
    align-items: start;
    padding-left: 30px;
}
.navLinks ul li a:hover{
    font-weight: bold
}
.navLinks :hover > ul{
    display: flex;
}
.Icons img{
    margin-left: 20px;
}
.Icons, .cart{
    display: flex;
}
.cartCounter{
    margin:1px 6px 0 3px;
}
.navMobile{
    display: none;
}
.articleSection{
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}
.articleSection h3{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 100;
}
.divArticles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
}
.divArticles article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.clothes{
    width:100%;
}
.sale{
    background-color: var(--black-color);
    color: var(--white-color);
    position: absolute;
    text-align: center;
    font-size: 13px;
    top: 25px;
    right: 0px;
    padding: 5px 25px 5px 15px;
}
.cInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 13px;
}
.fav img{
    cursor: pointer;
}
.fav :last-child{
    display: none;
}
.price{
    font-weight: 700;
}
.cInfo img{
    margin-right: 10px;
}
span{
    text-decoration: line-through;
    color: var(--gray-color);
}
.banner{
    margin-top: 40px;
    height: 447px;
    width: auto;
    background-image: url(../assets/background2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.textContainer{
    position: absolute;
    top: 204px;
    left: 80px;
    color: var(--white-color);
}
.textContainer a{
    text-decoration: none;
    text-decoration: underline;
    color: var(--white-color);
} 
.footer{
    background-color: var(--black-color);
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer h2{
    color: var(--white-color);
    font-weight: 400;
}
.newsletter{
    font-weight: bold;
    color: var(--white-color);
    text-decoration: none;
}
.form{
    margin-top: 20px;
    background-color: var(--white-color);
    display: flex;
    width: 80%;
    height: 63px;
}
.form input, button {
    border: none;
    outline: none;
    cursor: pointer;
}
.form input{
    font-size: 13px;
    width: 80%;
    border-style: none;
    padding-left: 20px;
    transition: all 0.6s;
}
.form input:hover{
    background-color: var(--gray-color);
}
.form input::placeholder {
    color: #000;
  }
.form button{
    font-weight: 600;
    background-color: var(--white-color);
    width: 20%;
    transition: all 0.6s;
}
.form button:hover{
    background-color: var(--gray-color);
}

@media (max-width: 1024px){
    .header{
        height: 100vh;
        width: 100vw;
    }   
    .nav{
        display: none;
    }
    .navMobile{
        position: fixed;
        z-index: 100;
        left: 0;
        right: 0;
        margin: 20px auto;
        background-color: var(--opacity-color);
        border: 1px solid var(--white-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;   
        width:90vw;
        padding: 0px 20px;
    }
    .logo{
        padding: 3px 0px 0px 15px;
    }
    .logo img{
        height: 13.93px;
    }
    .cart a img{
        height: 13.5px;
    }
    .divArticles {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .clothes{
        width: 90vw;
    }
}
@media screen and (max-width: 480px){
    .header{
        height: 561px;
    }
    .live-bg{
        display: none; 
    }
    .bgMobile{
        height: 561px;
        width:auto;
        background-image: url(../assets/backgroundMobile.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .banner{
        background-image: url(../assets/backgroundMobile2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .form{
        align-items: center;
    }
    .form input{
        width: 65%;
    }
    .form button{
        width: 35%;
    }
    .textContainer{
        top: 340px;
        left: 30px;
    }
    .textContainer h2{
        height: 45px;
        font-size: 33px;
        font-weight: 600;
    }
    .textContainer a{
        margin: 0px;
    }
    .newsletter{
        font-style: italic;
    }
    .footer h2{
        font-size: 28px;
        width: 300px;
        text-align: center;
        line-height: normal;
        margin-bottom: 10px;
    }
}
@media (max-width: 390px) {
    .navMobile{
        margin: 20px auto;
    }
    .articleSection{
        height: auto;
        width:auto; 
    }
}