body{
    margin: 0;
    padding: 0;
    line-height: 2;
}
#live-bg > #mirror, 
#live-bg > .background{
    margin: 0;
    padding: 0;    
    width: 100%;
    height: 100%;
    z-index: -999;
    position: absolute;
}

#live-bg > #mirror{
    background-color: #000;
}
